.footer {
  margin-top: 50px;
  background-color: #333; /* Solid, slightly darker tone */
  color: white;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 200px;
  /* Asegura que cada sección tenga un ancho mínimo adecuado y sea flexible */
  margin: 10px;
  padding: 0 15px;
}

/* 
.footer-section a {
  color: #adffd8;
  /* Color para enlaces */
  text-decoration: none;
}
*/

/* 
.footer-section a:hover {
  text-decoration: underline;
}
*/

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    flex-basis: 100%;
  }
}

.footer-logo {
  height: 100px;
  width: 100px;
  opacity: 0.6;
  border-radius: 50%;
  border: 1px solid #fff;
}
